In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("../input/titanic/train.csv")
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df_test = pd.read_csv("../input/titanic/test.csv")
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
X_train = df_train.drop(["PassengerId","Name","Age","Ticket","Cabin","Embarked","Survived"],axis="columns")
X_train = pd.get_dummies(X_train)

X_test = df_test.drop(["PassengerId","Name","Age","Ticket","Cabin","Embarked"],axis="columns")
X_test = pd.get_dummies(X_test)

X_train.head()

   Pclass  SibSp  Parch     Fare  Sex_female  Sex_male
0       3      1      0   7.2500           0         1
1       1      1      0  71.2833           1         0
2       3      0      0   7.9250           1         0
3       1      1      0  53.1000           1         0
4       3      0      0   8.0500           0         1

In [6]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   SibSp       418 non-null    int64
 2   Parch       418 non-null    int64
 3   Fare        417 non-null    float64
 4   Sex_female  418 non-null    uint8
 5   Sex_male    418 non-null    uint8
dtypes: float64(1), int64(3), uint8(2)
memory usage: 14.0 KB

In [7]:
X_test.Fare = X_test.Fare.fillna(X_test.Fare.mean())

In [8]:
y_train = df_train.Survived
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [9]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100,max_depth=5,random_state=1)

model.fit(X_train,y_train)
prediction = model.predict(X_test)

output = pd.DataFrame({'PassengerId':df_test.PassengerId, 'Survived':prediction})
output.to_csv("submission.csv",index=False)