In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../input/titanic/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
new_df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')
new_df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
from sklearn.preprocessing import LabelEncoder
Sex_le =LabelEncoder()
new_df["Sex_n"]= Sex_le.fit_transform(new_df["Sex"])
new_df = new_df.drop(["Sex"],axis="columns")
new_df

     Survived  Pclass   Age     Fare  Sex_n
0           0       3  22.0   7.2500      1
1           1       1  38.0  71.2833      0
2           1       3  26.0   7.9250      0
3           1       1  35.0  53.1000      0
4           0       3  35.0   8.0500      1
..        ...     ...   ...      ...    ...
886         0       2  27.0  13.0000      1
887         1       1  19.0  30.0000      0
888         0       3   NaN  23.4500      0
889         1       1  26.0  30.0000      1
890         0       3  32.0   7.7500      1

[891 rows x 5 columns]

In [5]:
inputs = new_df.drop(['Survived'],axis="columns")
target = new_df['Survived']

In [6]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     714 non-null    float64
 2   Fare    891 non-null    float64
 3   Sex_n   891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [7]:
inputs["Age"] = inputs.Age.fillna(inputs.Age.mean())
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Age     891 non-null    float64
 2   Fare    891 non-null    float64
 3   Sex_n   891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [8]:
# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2,random_state=10)

In [9]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [10]:
model.score(X_test,y_test)

0.7988826815642458

In [11]:
new_df.head()

   Survived  Pclass   Age     Fare  Sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [12]:
model.predict([['1','38','71','0']])

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])